[submodule "enDjinn"]
	path = dependencies/enDjinn
	url = git@github.com:dfchil/enDjinn.git
[submodule "dependencies/AICAforge"]
	path = dependencies/AICAforge
	url = https://github.com/dfchil/AICAforge.git
	branch = main
	update = none
